<div>
	<table>
		<tr>
			<td dojoAttachPoint="labels_label"></td>
			<td dojoAttachPoint="labels_field"></td>
		</tr>
		<tr>
			<td dojoAttachPoint="task_start_label"></td>
			<td dojoAttachPoint="task_start_field"></td>
		</tr>
		<tr>
			<td dojoAttachPoint="task_end_label"></td>
			<td dojoAttachPoint="task_end_field"></td>
		</tr>
		<tr>
			<td dojoAttachPoint="name_label"></td>
			<td dojoAttachPoint="name_field"></td>
		</tr>
		<tr>
			<td dojoAttachPoint="description_label"></td>
			<td dojoAttachPoint="description_field"></td>
		</tr>
		<tr>
			<td dojoAttachPoint="finished_label"></td>
			<td dojoAttachPoint="finished_field"></td>
		</tr>
	</table>
	<div dojoAttachPoint="buttonNode"></div>
	
</div>
