<div style="padding: 10px 100px 0 10px;">
	<table style="width:100%"><tr>
	<td style="width:80%">
		<table>
			<tr>
				<td dojoAttachPoint="name_label"></td>
				<td dojoAttachPoint="name_field"></td>
			</tr>
			<tr>
				<td dojoAttachPoint="description_label"></td>
				<td dojoAttachPoint="description_field"></td>
			</tr>
			<tr>
				<td dojoAttachPoint="color_label"></td>
				<td dojoAttachPoint="color_field"></td>
			</tr>
		</table>
	</td><td valign="top">
	<div dojoAttachPoint="buttonNode"></div>
	</td></tr>
	</table>
</div>
 
 
