<div>
	<table>
	<tr>
	<td>
		<table>
			<tr>
				<td dojoAttachPoint="login_label"></td>
				<td dojoAttachPoint="login_field"></td>
			</tr>
			<tr>
				<td dojoAttachPoint="password_label"></td>
				<td dojoAttachPoint="password_field"></td>
			</tr>
			<tr>
				<td dojoAttachPoint="name_label"></td>
				<td dojoAttachPoint="name_field"></td>
			</tr>
			<tr>
				<td dojoAttachPoint="email_label"></td>
				<td dojoAttachPoint="email_field"></td>
			</tr>
			<tr>
				<td dojoAttachPoint="role_label"></td>
				<td dojoAttachPoint="role_field"></td>
			</tr>
			<tr>
				<td dojoAttachPoint="active_label"></td>
				<td dojoAttachPoint="active_field"></td>
			</tr>
		</table>
	</td><td valign="top">
		<div dojoAttachPoint="buttonNode"></div>
	</td></tr>
	</table>
</div>
 
